.login-container {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container section.form {
  width: 100%;
  max-width: 350px;
}

.login-container section.form img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.login-container section.form form {
  margin-top: 20px;
  font-size: 22px;
  margin-bottom: 24px;
  text-align: center;
}
.signh1 {
  color: #212940;
  margin-bottom: 10px;
}

.createAccount {
  line-height: 15px;
}

.signSpan {
  font-size: 14px;
  color: #5c6273;
}

.linksign {
  font-size: 12px;
}

.login-container a {
  color: #4e63d9;
}
